@model IEnumerable<Offer>
@{
    ViewData["Title"] = "Index";
}


<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Offer List</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Offer" asp-action="Create" class="btn btn-primary">
                <i class="bi bi-plus-circle"></i> &nbsp; Create New Offer
            </a>
        </div>
    </div>
    <br /><br />

    <table class="table table-bordered table-striped" style="width:100%">
        <thead>
            <tr>
                <th>Offer StartDate</th>
                <th>Offer ExpiryDate</th>
                <th>Percentage</th>
                <th>Offer Type</th>
                <th>Offer Item</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var obj in Model)
            {
                <tr>
                    <td>@obj.StartDate</td>
                    <td>@obj.ExpiryDate</td>
                    <td>@obj.Percentage</td>
                    <td>@obj.OfferType</td>
                    <td>
                       @if (obj.OfferType == "Product")
                        {
                            <a href="/Admin/Product/Upsert?id=@obj.ProductId">@obj.Product.Title</a>
                        }
                        else if (obj.OfferType == "Category")
                        {
                            <a href="/Admin/Category/Edit?id=@obj.CategoryId">@obj.Category.Name</a>
                        }
                    </td>
                    <td>
                        <div class="w-75 btn-group" role="group">
                            <a asp-controller="Offer" asp-action="Edit" asp-route-id="@obj.Id" class="btn btn-primary mx-2">
                                <i class="bi bi-pencil-square"></i> Edit
                            </a>
                            <a asp-controller="Offer" asp-action="Delete" asp-route-id="@obj.Id" class="btn btn-danger mx-2">
                                <i class="bi bi-trash-fill"></i> Delete
                            </a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>