@model BulkyBook.Models.ViewModels.ShoppingCartVM
@using Microsoft.Extensions.Options
@inject IOptions<BulkyBook.Utility.StripeSettings> Stripe


<form method="post" id="summaryForm">
    <br />
    <div class="container">
        <div class="card">
            <div class="card-header bg-dark text-light ml-0">
                <div class=" row container">
                    <div class="col-6">
                        <i class="fa fa-shopping-cart"></i> &nbsp;
                        Order Summary
                    </div>
                    <div class="col-6 text-end">
                        <a asp-action="Index" class="btn btn-outline-info btn-sm">Back to Cart</a>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="container rounded p-2">
                    <div class="row">
                        <div class="col-12 col-lg-6 pb-4">
                            <div class="row">
                                <h4 class="d-flex justify-content-between align-items-center mb-3">
                                    <span class="text-info">Shipping Details:</span>
                                </h4>
                            </div>
                            <div class="row my-1">
                                <div class="col-3">
                                    <label>Name</label>
                                </div>
                                <div class="col-9">
                                    <input asp-for="OrderHeader.Name" class="form-control" />
                                    <span asp-validation-for="OrderHeader.Name" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row my-1">
                                <div class="col-3">
                                    <label>Phone</label>
                                </div>
                                <div class="col-9">
                                    <input asp-for="OrderHeader.PhoneNumber" class="form-control" />
                                    <span asp-validation-for="OrderHeader.PhoneNumber" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row my-1">
                                <div class="col-3">
                                    <label>Street Address</label>
                                </div>
                                <div class="col-9">
                                    <input asp-for="OrderHeader.StreetAddress" class="form-control" />
                                    <span asp-validation-for="OrderHeader.StreetAddress" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row my-1">
                                <div class="col-3">
                                    <label>City</label>
                                </div>
                                <div class="col-9">
                                    <input asp-for="OrderHeader.City" class="form-control" />
                                    <span asp-validation-for="OrderHeader.City" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row my-1">
                                <div class="col-3">
                                    <label>State</label>
                                </div>
                                <div class="col-9">
                                    <input asp-for="OrderHeader.State" class="form-control" />
                                    <span asp-validation-for="OrderHeader.State" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row my-1">
                                <div class="col-3">
                                    <label>Postal Code</label>
                                </div>
                                <div class="col-9">
                                    <input asp-for="OrderHeader.PostalCode" class="form-control" />
                                    <span asp-validation-for="OrderHeader.PostalCode" class="text-danger"></span>
                                </div>

                            </div>


                            <div class="row my-1">
                                <div class="col-3">
                                    <input type="text" class="form-control" placeholder=" Coupen Code" id="searchInput" style="width: 150px; height: 50px;" disabled="@(Model.TotalOfferAmount>0)">
                                </div>
                                <div class="col-9">
                                    <button type="button" class="btn btn-light" id="applyCoupon">Apply</button>

                                </div>
                                <div id="CouponResult"></div>
                            </div>

                            <div>
                                <a asp-controller="Home" asp-route-id="@Model.OrderHeader.Id" asp-action="ChangeAddress" style="width:400px">
                                    Change Address
                                </a>
                            </div>

                        </div>
                        <div class="col-12 col-lg-5 offset-lg-1">
                            <h4 class="d-flex justify-content-between align-items-center mb-3">
                                <span class="text-info">Order Summary:</span>
                            </h4>
                            <ul class="list-group mb-3">
                                @foreach (var details in Model.ListCart)
                                {
                                    <li class="list-group-item d-flex justify-content-between">
                                        <div>
                                            <h6 class="my-0">@details.Product.Title</h6>
                                            <small class="text-muted">Quantity: @details.Count</small>
                                        </div>
                                        <span class="text-muted">@((details.Price * details.Count).ToString("c")) </span>
                                    </li>
                                }
                                
                                <li class="list-group-item d-flex justify-content-between bg-light">
                                    <small class="text-info">Coupon Amount (USD)</small>
                                    <strong class="text-info" id="couponAmount"></strong>
                                </li>
                                @if (@Model.TotalOfferAmount > 0)
                                {
                                    <li class="list-group-item d-flex justify-content-between bg-light">
                                        <small class="text-info">Offer Amount (USD)</small>
                                        <strong class="text-info" id="OfferAmount">@Model.TotalOfferAmount.ToString("c")</strong>
                                    </li>
                                }
                                <li class="list-group-item d-flex justify-content-between bg-light">
                                    <small class="text-info">Total (USD)</small>
                                    <strong class="text-info" id="orderTotalElement">@Model.OrderHeader.OrderTotal.ToString("c")</strong>
                                </li>
                            </ul>
                        </div>
                        <div class="col-12">
                            <!-- Add space between the summary table and the label/checkbox -->
                            <div style="margin-top: 20px;"></div>

                            <!-- Label for Cash On Delivery -->
                            <label for="cashOnDelivery">Cash On Delivery</label>

                            <!-- Checkbox for Cash On Delivery -->
                            <input type="checkbox" id="cashOnDelivery" name="cashOnDelivery" value="true">
                        </div>

                    </div>
                </div>
            </div>
            <div class="card-footer">
                <div class="row">
                    <div class="col-12 col-md-8 pt-2">
                        <p style="color:maroon; font-size:14px;">
                            Estimate Arrival Date:
                            @DateTime.Now.AddDays(7).ToShortDateString() - @DateTime.Now.AddDays(14).ToShortDateString()
                        </p>
                    </div>
                    <div class="col-12 col-md-4">

                        <button type="button" value="Pay with card" class="btn btn-primary form-control" onClick="javascript:PayWIthCard()">Pay with Card</button>
                        @if (Model.OrderHeader.OrderTotal <= Model.WalletBalance)
                        {
                            <button type="button" value="Pay with card" class="btn btn-success form-control" onClick="javascript:PayWIthWallet()" Style=" margin-top:20px">Pay with wallet</button>

                            @*<a asp-controller="Cart" asp-action="PayWithWallet" class="btn btn-success form-control" style="margin-top:20px;">Pay with Wallet</a>*@
                        }

                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    function PayWIthWallet() {
        console.log("PayWIthWallet");
        document.forms['summaryForm'].action = 'PayWithWallet';
        document.forms['summaryForm'].submit();
    }
    function PayWIthCard() {

        document.forms['summaryForm'].action = 'Summary';
        document.forms['summaryForm'].submit();

    }


    $(document).ready(function () {




        $("#applyCoupon").click(function () {
            var couponCode = $("#searchInput").val();
            var url = '/Customer/Cart/CouponValidation?CouponCode=' + couponCode;

            $.ajax({
                type: "GET",
                url: url,

                success: function (result) {
                    //$("#CouponResult").html(result);

                    $("#orderTotalElement").text(result.orderHeader.orderTotal.toLocaleString('en-US', { style: 'currency', currency: 'USD' }));
                    $("#couponAmount").text(result.orderHeader.couponAmount.toLocaleString('en-US', { style: 'currency', currency: 'USD' }));

                },
                error: function (result) {
                    console.log(result);
                    $("#CouponResult").html(result.responseText);
                }
            });
        });
    });
</script>

